$error: #DA1414;
$info: #2E5AAC;
$lightBackground: #F1F2F5;
$main: #272833;
$primary: #0B5FFF;
$success: #287D3C;
$warning: #B95000;
$white: #FFF;

$listHeaderColor: #EAEBF0;
$listHeaderColorNoItems: #D1E0FF;