.date-picker-root {
	display: inline-block;
	position: relative;
	width: 328px;

	&.disabled:before {
		background: $white;
		bottom: 0;
		content: '';
		cursor: not-allowed;
		left: 0;
		opacity: 0.4;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
	}

	.controls {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 16px;

		.button-root {
			margin-left: 8px;
		}

		.current-day-btn {
			font-size: 24px;
		}

		.month-toggle-wrapper {
			flex-grow: 1;

			.button-root {
				margin-left: 0;
			}
		}
	}
}