.data-card-root {
	min-height: $dataCardMaxHeight;
	width: $dataCardWidth;

	&:hover .overlay-menu {
		display: flex;
	}

	.overlay-menu {
		align-items: center;
		background-color: $cardOverlay;
		bottom: 0;
		display: none;
		flex-direction: column;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		> .button-root {
			border: 4px solid transparent;
			border-radius: 50%;
			margin-bottom: 24px;
			padding: 24px;

			&:hover {
				border-color: $white;
			}
		}
	}
}