.edit-card-modal-root {
	.current-step-root {
		background: $main;
		color: $lightBackground;
		display: flex;
		justify-content: space-between;
		padding: 8px 24px;
	}

	.card-type-display-root {
		.card {
			cursor: pointer;
		}

		.card-body {
			text-align: center;

			svg {
				fill: $darkGrey;
			}

			.card-title {
				font-size: 13px;
				font-weight: 600;
				line-height: 24px;
				margin-bottom: 20px;
				text-align: initial;
				text-transform: uppercase;
			}
		}
	}

	.form-control-label {
		font-weight: 600;
		line-height: 24px;
		margin-bottom: 16px;
		text-transform: uppercase;
	}

	.modal-body {
		.nav-root {
			margin-bottom: 20px;
		}
	}

	.step-two {
		margin: 0;
		min-height: 582px;

		.col {
			&:first-child {
				padding: 24px;
			}

			&.preview {
				background: $lightGrey;
				padding: 48px;
			}

			.custom-checkbox {
				margin: 20px 0 24px;
			}

			.sortable-list-group-root {
				margin-top: 16px;
			}
		}
	}
}