.icon-root {
	font-size: 1rem;

	&.icon-size-sm {
		font-size: 0.5rem;
	}

	&.icon-size-md {
		font-size: 2rem;
	}

	&.icon-size-lg {
		font-size: 3rem;
	}

	&.icon-size-xl {
		font-size: 4.5rem;
	}

	&.icon-size-xxl {
		font-size: 8rem;
	}

	&.icon-size-xxxl {
		font-size: 12rem;
	}

	&.failure {
		fill: none;
		stroke: $error;
	}

	&.success {
		fill: lighten($success, 50%);
		stroke: $success;
	}
}