.profile-card-root {
	&.vertical {
		text-align: center;

		.entity-display {
			flex-direction: column;
		}

		.avatar-root {
			margin: 0 0 12px 0;
		}
	}

	.avatar-root {
		margin-right: 16px;
	}

	.contact-detail {
		margin-bottom: 4px;
	}

	.entity-display {
		align-items: center;
		display: flex;
		margin-bottom: 16px;
	}

	.name {
		font-size: 18px;
	}
}