$accentColor: #488FFF;
$addCardBackground: rgba(#FBFBFB, 0.15);
$baseColor: #41444B;
$black: #000;
$cardOverlay: rgba(#535870, 0.8);
$darkGrey: #E7E7ED;
$editingStateBackground: #C0CBE1;
$footerBoxShadow: 0 0 4px 0 rgba(#C7C7C7, 0.5);
$lightGrey: #F3F3F6;

$dataCardMaxHeight: 450px;
$dataCardWidth: 350px;
$navbarHeight: 72px;
$sidebarClosedWidth: 72px;
$sidebarOpenWidth: 240px;